@using Microsoft.AspNetCore.Identity
@model IEnumerable<MessengerNetSix.Models.User>
@{
    ViewBag.Title = "Список пользователей";
}
 
@*<a asp-action="Create">Добавить пользователя</a>*@
 @inject UserManager<User> UserManager

    @{
        var Userr = await UserManager.GetUserAsync(User);
        var userid = 0.ToString();

        if (Userr != null)
        {
            userid = Userr.Id;
        }
    }
@if (ViewBag.NotConfirmedContacts.Count > 0)
{
    <table class="table">
    <h2>Неподтвержденные контакты</h2>
    <tr><th>Email</th><th>Год</th><th></th><th></th></tr>
    
    @foreach (var user in Model)
    {
            if (user.UserName != User.Identity.Name)
            {
                foreach (var contact in ViewBag.NotConfirmedContacts)
                {
                    if(contact.SenderId == user.Id && contact.RecieverId == userid)
                    {
                        <tr>
                        <td>@user.Email</td>
                        <td>@user.Phone</td>
                        <td>
                        <a class="btn btn-sm btn-primary" asp-action="Accept" asp-route-id="@user.Id">Принять заявку</a>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" asp-action="Delete" asp-route-id="@user.Id">Отменить заявку</a>
                        </td>
                        </tr>
                    }
                    else if (contact.SenderId == userid && contact.RecieverId == user.Id)
                    {
                        <tr>
                        <td>@user.Email</td>
                        <td>@user.Phone</td>
                        <td>
                        <a class="btn btn-sm btn-primary" asp-action="Delete" asp-route-id="@user.Id">Отменить заявку</a>
                        </td>
                        <td></td>
                        </tr>
                    }
                }
             }   
            
        
    }
    </table>
}
<table class="table">
    <h2>Контакты</h2>
    <tr><th>Email</th><th>Год</th><th></th></tr>
    
    @foreach (var user in Model)
    {
        bool ok = false;
        foreach (var contact in ViewBag.Contacts)
        {
            if ((user.Id == contact.SenderId || user.Id == contact.RecieverId) && (contact.IsConfirmed))
                ok = true;
        }
        if(ok && user.UserName != User.Identity.Name)
        {
            <tr class="">
            <td>@user.Email</td>
            <td>@user.Phone</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Delete" asp-route-id="@user.Id" asp-route-name="@user.UserName">Удалить из контактов</a>

                <a class="btn btn-sm btn-primary" asp-controller="Chat" asp-action="CreateDialogue" asp-route-id="@user.Id" asp-route-name="@user.UserName" >Перейти к чату</a>
                @*<input type="button" class="btn btn-sm btn-primary" value="Перейти к чату" onclick="location.href='@Url.Action("CreateDialogue", "Chat")'" />*@
            </td>
        </tr>
        }
    }
</table>
<form method="get" asp-controller="ContactsAndChats" asp-action="Index">
    <div>
        <input type="text" name="searchId">
        <input type="submit" value="Найти пользователя"/> 
    </div>
</form>
<table class="table table-curved">
    <h2>Пользователи</h2>
    <tr><th>Email</th><th>Год</th><th></th></tr>
    
    @if (ViewBag.SearchResult != null)
    {
        foreach (var user in ViewBag.SearchResult)
        {
        bool ok = false;
        foreach (var contact in ViewBag.Contacts)
        {
            if (user.Id == contact.SenderId || user.Id == contact.RecieverId)
                ok = true;
        }
        if(User.Identity.Name != user.Email && !ok)
        {
            <tr>
            <td>@user.Email</td>
            <td>@user.Phone</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="AddToContacts" asp-route-id="@user.Id">Добавить в контакты</a>
            </td>
        </tr>
        }
        }
    }
    
</table>
<style>
    .table-curved {
    border-collapse: separate;
}
.table-curved {
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left:0px;
}
.table-curved tr {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-radius: 26px;
    border-collapse:seperate;
    border-spacing:5em;
}
.table-curved th {
    border-top: none;
}
.table-curved th:first-child {
    border-radius: 6px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 6px 0 0;
}
.table-curved th:only-child{
    border-radius: 6px 6px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}
</style>